
  #title {
        display: none;
    }
    
    header{
        margin: 0px;
        position: relative;
        top: 0;
        left: 0;
        background-color: #6d6363; 
    }

     header > a {
        text-align: center;
        text-decoration: none;
    }

    header > a > h1 {
    
        
        color: #ffffff;
        font-size: 8vw;
        margin: 0 auto;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        padding: .5em 1em .5em 1em ;

    }

   
    header > i { 
    
     visibility: hidden;
     padding: .5em 0 .5em 0;

   
     margin: 0 48%;
     border: none;
     color:#ffffff;

    }

    #close {
        display:none;
    }

     
#menu { 

    display:none; 

    text-align: center;
    margin: 0;
    position: absolute;
    top: 100%; 
    left: 0%;

    }

#menu > a {
    
    display:none; 

    margin: 0 auto;
    width: 100vw;
    background-color: rgb(189, 48, 107);
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 100%;
    border: solid #ffffff;
    border-width: 1px 1px 0px 1px;

    }


#menubody {

    display: block;
    text-align: center;
    margin: 17vw 1em;
    border: none;
    }
    
#menubody > a {
    
    text-decoration: none;
    font-size: 3vw;
    font-weight: 450;
    padding: .5em 1em .5em 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: #ffffff; 
    display: inline-block;
    width: auto;
    margin: 0;
    background-color: #6d6363;
    border: none;
      
}

#menubody > a:hover{
    background-color: #6d6363d7 ;
        color: #ffffff;
        border-radius:0;
}


main {
    margin: 0;
    padding: 0;
}

section{
    margin: 0 5vw;
    padding: 2vw;
    text-align: center;
}

section > h1 {

    margin: 0.5em;
    color: #6d6363;
    font-size: 12vw;
    text-transform: uppercase;
    
}

section > h2 {
    color: #6d6363;
    font-size: 5.5vw;
    text-align: center;
    
}

section > h3 {
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    
}

section > p {
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    
}

aside {
    text-align: center;
}

aside > i {
    color: #6d6363;
}
.calendar{
    
    margin: 0;
    padding: 2vw;
    text-align: center;
    background-color: rgb(189, 48, 107);
          
}

iframe{
    width: 90%;
    height: 300px;
}


div > img{
        display: inline-block; 
        margin: 1vw 1vw 0vw 1vw;
        width: 85vw;
        max-height: 85vw;
        min-height: 85vw;
        border: solid;
        border-color: rgb(189, 48, 107);
        border-width: 3vw;
        border-radius: 0;
        
    }

div {
    display: inline-block;
    margin: 0;
    text-align: center;
           
}


div > h2 {
    color: rgb(94, 77, 84);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    

 }  

 footer{
    
    margin: 0px;
    width: 100%;
    padding: .1vw;
    background-color: #ffffff;
}

footer > p {
    text-align: center;
    font-variant: small-caps;
}


@media screen and (min-width: 600px){

#title {
    display: none;
}
header{
    display: block;
    margin: 0px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #ffffff; 
}

 header > a {
    text-align: center;
    text-decoration: none;
}

header > a > h1 {
    
    display: block;
    color: rgb(189, 48, 107);
    font-size: 5vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: .5em 1em .5em 1em ;
    
}


header > i { 

 display: none;
 padding: .5em 0 .5em 0;
 margin: 0 48%;
 border: none;
 color:#ffffff;

}

#open{display:none}
#close{display:none}

nav { 

    display:block; 
    text-align: center;
    margin: 1vw auto;
    border: none;
    

}

nav > a {

        display: block;
        text-decoration: none;
        font-size: 120%;
        font-weight: 900;
        padding: .5em 1em .5em 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        color: #495753d8; 
        display: inline-block;
        width: auto;
        margin: 0;
        background-color: #ffffff;
        border: none;


}

#menubody {

    display: block;
    text-align: center;
    margin: 10vw 1em;
    border: none;
    }
    
#menubody > a {
    
    text-decoration: none;
    font-size: 3vw;
    font-weight: 450;
    padding: .5em 1em .5em 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: rgb(189, 48, 107); 
    display: inline-block;
    width: auto;
    margin: 0;
    background-color: #ffffff;
    border: none;
      
}

#menubody > a:hover{
    background-color: #6d6363d7 ;
        color: #ffffff;
        border-radius:0;
    }


    i:hover{
        color: #6d6363;
    }

.active {
    background-color: #ffffff ;
    color: rgb(189, 48, 107) ;
    border-radius:0;
    
}


body {
    margin: 0;
    padding: 0%;
    background-color: #ffffff;
}

main{

   margin: 0; 

}

i {
color: rgb(189, 48, 107);

}
section{
    margin: 0;
    padding: 2vw;
    text-align: center;
    background-color: rgb(189, 48, 107);
}

section > h1 {

    margin: 0.5em;
    padding: 0 5vw;
    color: #ffffff;
    font-size: 6vw;
    text-transform: uppercase;
    
}

section > h2 {
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    
}

section > h3 {
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    
}

section > p {
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    
}

aside {
    text-align: center;
    background-color: rgb(189, 48, 107);
}

aside > i {
    color: #ffffff;
}
.calendar{
    
    margin: 0;
    padding: 2vw;
    text-align: center;
    background-color: rgb(189, 48, 107);
          
}

iframe{
    width: 90%;
    height: 500px;
}



.mainGallery {
    margin: 4vw 8vw;
    padding: 2vw;

}


div > img{
        display: inline-block; 
        margin: 1vw 1vw;
        width: 23vw;
        max-height: 23vw;
        min-height: 23vw;
        border: none;
        border-radius: 0;
        
    }

div {
    display: inline-block;
    background-color: #ffffff;
    margin: 0 .5vw 2vw 0;
    text-align: center;
           
}


div > h2 {
    color: rgb(94, 77, 84);
    font-size: 120%;
    max-width: 19vw;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;

     }



footer{
    
    margin: 0px;
    width: 100%;
    padding: .1vw;
    background-color: #ffffff;
}

footer > p {
    text-align: center;
    font-variant: small-caps;
}


}


@media screen and (min-width: 1200px){

    #title {
        display: none;
    }

    header{
        
        background-color: #0e7c7b;
        display: inline-block;
        width: 100%;
        padding: 0%;
        margin: 0px;
        position: relative;
        top: 0;
        left:0;
        
    }
    
    header > a {
        text-decoration: none;
    }
    

    header > a > h1 {

        display: inline-block;    
        padding: 0em 2em 0em 2em;
        width: 20%;
        font-size: 5vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        background-color: #0e7c7b;
        color: #ffffff;
        text-align: left;
        
    
    }

    #open{display:none}
    #close{display:none}

   
    header > i { 
    
     display: none;
     padding: .5em 0 .5em 0;
     margin: 0 48%;
     border: none;
     color:#ffffff;
     float:none;
    
    }
    
    #open{display:none}
    #close{display:none}
    

   nav {
        display:block; 
        float: right;
        padding: 0em 1em;
        border: none;
                
    }
    

   nav > a {
        display: inline-block;
        padding: 1em 1em;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 900;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        color: #226b56; 
        width: auto;
        margin: 0;
        background-color: #ffffff;
        border: none;
       
  
     
    }
    
    #menubody {
    
        display: block;
        text-align: center;
        margin: 1vw auto;
        border: none;
        }

    
        
    #menubody > a {
        
        display: inline-block;
        text-decoration: none;
        font-size: 3vw;
        font-weight: 450;
        padding: .5em 1em .5em 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        color: #ffffff; 
        width: auto;
        margin: 0 auto;
        background-color: #0e7c7b;
        border: none;
       
          
    }

    

    
    #menubody > a:hover{
        background-color: #0e7c7bd8 ;
            color: #ffffff;
            border-radius:0;
        }
    
    
    i:hover{
            color: #6d6363;
    }
    
    .active {
        background-color: #ffffff ;
        color: rgb(189, 48, 107) ;
        border-radius:0;
        
    }
    
    
    body {
        margin: 0;
        padding: 0%;
        background-color: #ffffff;
    }
    
    main{
    
       margin: 0; 
    
    }
    
    i {
    color: #0e7c7b;
    
    }

    section{
        margin: 0;
        padding: 2vw;
        text-align: center;
        background-color: #ffffff;
    }
    
    section > h1 {
    
        margin: 0.5em;
        padding: 0 5vw;
        color: #0e7c7b;
        font-size: 6vw;
        text-transform: uppercase;
        
    }
    
    section > h2 {
        color: #0e7c7b;
        font-size: 2vw;
        text-align: center;
        
    }
    
    section > h3 {
        color: #0e7c7b;
        font-size: 3vw;
        text-align: center;
        
    }
    
    section > p {
        color: #0e7c7b;
        font-size: 3vw;
        text-align: center;
        
    }
    
    aside {
        text-align: center;
        background-color: #ffffff;
    }
    
    aside > i {
        color: #0e7c7b;
    }

    .calendar{
        
        margin: 0;
        padding: 2vw;
        text-align: center;
        background-color: #ffffff;
              
    }
    
    iframe{
        width: 90%;
        height: 500px;
    }


    
    .active{
        
        color: #0e7c7bd8;
            
    }


    body {
        margin: 0;
        padding: 0%;
        background-color: #ffffff;
       
    
    }

    main{
            margin:3vw;
            padding:1vw;
            background-color: #ffffff;
            border:solid #0e7c7b;
            border-width: 2px 0px 2px 0px;
        }

    
       
    h1, h2{
        font-size: 5vw;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .mainGallery {
        margin: 0vw;
        padding: 2vw;  

    }

/*
    .homeSection{ 
            display: inline-block;
            width: 49%;
            background-color: #ffffff;
           
    }

   .homeSection > img {

        display: inline-block;
        background-color: #ffffff;
        width: 100%;
    
       
    }
    */


    main > div {

        min-height: 30vw;
        max-height: 30vw;

    }

    div > img{
            display: inline-block;
            width: 19vw;
            max-height: 19vw;
            min-height: 19vw;
            border-radius: 0;
            
        }

     div > h2 {
            min-height: 5vw ;
            max-height: 5vw ;
            color: rgb(94, 77, 84);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-transform: uppercase;
            
            }
    

    .gallery {
        display: inline-block;
        background-color: #26d5bd;
        width:23%;
        border: solid;
        border-color: #26d5bd;
        margin: 0 .5vw 2vw 0;
        text-align: center;     
        }
    }